# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://***
AUTH_SECRET=***

NEXT_PUBLIC_PAYPAL_ENV=sandbox
NEXT_PUBLIC_PAYPAL_CLIENT_ID=***
NEXT_PUBLIC_PAYPAL_STARTER_PLAN_ID=P-***
NEXT_PUBLIC_PAYPAL_GROWTH_PLAN_ID=P-***
PAYPAL_CLIENT_SECRET=***
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_***
CLERK_SECRET_KEY=sk_test_***