# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://***
AUTH_SECRET=***

NEXT_PUBLIC_PAYPAL_ENV=sandbox
NEXT_PUBLIC_PAYPAL_CLIENT_ID=***
NEXT_PUBLIC_PAYPAL_STARTER_PLAN_ID=P-***
NEXT_PUBLIC_PAYPAL_GROWTH_PLAN_ID=P-***
PAYPAL_CLIENT_ID=***
PAYPAL_CLIENT_SECRET=***
PAYPAL_API_BASE=https://api-m.sandbox.paypal.com
PAYPAL_STARTER_PRODUCT_ID=PROD-***
PAYPAL_GROWTH_PRODUCT_ID=PROD-***
PAYPAL_WEBHOOK_ID=***

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_***
CLERK_SECRET_KEY=sk_test_***

NEXT_PUBLIC_ALGOLIA_APP_ID=***
NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY=***
NEXT_PUBLIC_ALGOLIA_INDEX_PREFIX=wok_dev
ALGOLIA_ADMIN_API_KEY=***

WOK_STORAGE_KV_REST_API_READ_ONLY_TOKEN=""
WOK_STORAGE_KV_REST_API_TOKEN=""
WOK_STORAGE_KV_REST_API_URL="https://true-tadpole-70883.upstash.io"
WOK_STORAGE_KV_URL="rediss://default:XXXX@true-tadpole-70883.upstash.io:6379"
WOK_STORAGE_REDIS_URL="rediss://default:XXXX@true-tadpole-70883.upstash.io:6379"

WOK_STORAGE_SQLITE_TURSO_AUTH_TOKEN=""
WOK_STORAGE_SQLITE_TURSO_DATABASE_URL="libsql://inphormatik-wok-db-vercel-icfg-cmo7esid5wsxtjy2askuitzz.aws-ap-northeast-1.turso.io"